{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié!{% endblock %}

{% block content %}

<h1 class="h3 mb-3 font-weight-normal mt-4">Changement du mot de passe</h1>

{{form(form)}}

{% endblock %}